@using Microsoft.AspNetCore.Components

<div class="top-row ps-3 navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">DnD_CO_Blazor</a>
        <button class="navbar-toggler" type="button" @onclick="ToggleNavMenu" aria-controls="navbarNav" aria-expanded="@(!collapseNavMenu).ToString().ToLower()" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="@NavMenuCssClass" id="navbarNav">
            <!-- Change 'navbar-nav' to 'nav flex-column' for vertical alignment -->
            <nav class="nav flex-column me-auto mb-2 mb-lg-0">
                <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
                    <span class="oi oi-home" aria-hidden="true"></span> Home
                </NavLink>
                <NavLink class="nav-link" href="/overview">
                    <span class="oi oi-dashboard" aria-hidden="true"></span> Overview
                </NavLink>
                <NavLink class="nav-link" href="/all-characters">
                    <span class="oi oi-people" aria-hidden="true"></span> All Characters
                </NavLink>
                <NavLink class="nav-link" href="/inventory">
                    <span class="oi oi-briefcase" aria-hidden="true"></span> Inventory
                </NavLink>
            </nav>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse navbar-collapse" : "navbar-collapse show";

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
